doctype html
html
	head
		title Register
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
	body
		.container
			.row
				.col-sm-6.col-md-4.col-md-offset-4
					h1.text-center.login-title Register
					.account-wall
						img.profile-img(src='http://www.trademob.com/wp-content/uploads/2015/02/user_aquisition_icon1.png')
						form.form-signin(action="/adduser", method="POST")
							input.form-control(type="text", name="username", placeholder="Username", required='', autofocus='')
							input.form-control(type="email", name="email", placeholder="Email", required='')
							input.form-control(type="password", name="password", placeholder="Password", required='')
							button.btn.btn-lg.btn-primary.btn-block(type="submit") Register
					a.text-center.new-account(href='/') Log in
		script(src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js")

